<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <span style="font-family: Arial;">
    <a th:href="@{/}">Home</a>
    <div style="max-width: 500px; margin-left: auto; margin-right: auto; padding: 15px;">

      <h2><p th:text="${company.getName()}">VALUE</p></h2>
      <p th:text="${'Специальность: ' + company.getSpeciality()}">VALUE</p>
      <p th:text="${'Опыт: ' + company.getExperience() + ' лет'}">VALUE</p>

      <div th:switch="${company.getEnglish()}">
        <p th:case="0">Владение английским: Нет</p>
        <p th:case="1">Владение английским: Да</p>
      </div>

      <div th:switch="${company.getProgLang()}">
        <p th:case="0">Владение программированием: Нет</p>
        <p th:case="1">Владение программированием: Да</p>
      </div>

      <div th:switch="${company.getCar()}">
        <p th:case="0">Водительские права: Нет</p>
        <p th:case="1">Водительские права: Да</p>
      </div>

      <div th:switch="${company.getComputer()}">
        <p th:case="0">Владение компьютером: Нет</p>
        <p th:case="1">Владение компьютером: Да</p>
      </div>

      <div th:switch="${company.getEducation()}">
        <p th:case="1">Образование: Нет</p>
        <p th:case="2">Образование: Среднее</p>
        <p th:case="3">Образование: Высшее</p>
      </div>
      <p th:text="${'Адресс: ' + company.getAddress()}">VALUE</p>
      <br/>
      <hr/>

      <a th:href="@{/companies/{id}/edit(id=${company.getId()})}">Редактировать</a>

      <form th:method="DELETE" th:action="@{/companies/{id}(id=${company.getId()})}">
        <input type="submit" value="Удалить"/>
      </form>

    </div>
  </span>
</body>
</html>